@import "../../UI_General/config";

.meal {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-bottom: 1.5px solid set_color(meal_item_border_color);

  @include media-md {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  h3 {
    margin-bottom: 0.3rem;
  }
  &-description {
    font-style: italic;
  }
  &-price {
    margin: 0.3rem 0;
    @include prices-font;
  }
}
