@import "../UI_General/config";

.meals {
  background-color: set_color(meal_items_bg);
  width: Min(100%, 50rem);
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.no-meals {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.loading,
.error {
  margin: 4rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

.error {
  color: red;
}
