@import "../UI_General/config";

.form {
  width: 90%;
  margin: 0.5rem auto 0;

  @include media-sm {
    width: 60%;
  }
  @include media-md {
    width: 100%;
  }

  .control {
    position: relative;

    &.invalid {
      input {
        box-shadow: 0px 0px 5px #bd000e;
      }
    }
  }

  input {
    border-radius: 3rem;
    padding: 0.7rem;
    padding-right: 3.5em;
    border: 1px solid rgba(0, 0, 0, 0.192);
    width: 100%;
    outline: none;

    &:focus {
      box-shadow: 0px 0px 5px green;
    }
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: set_color(green_l);
    border-radius: 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    i {
      font-size: 1.2rem;
      color: white;
    }
  }
}
