@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

/* reset for CSS */
html {
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #3f3f3f;
}
